@if (banner) {
<div class="d-flex justify-content-center">
  <ngb-carousel style="width: 80%;" [showNavigationArrows]="showNavigationArrows"
    [showNavigationIndicators]="showNavigationIndicators">
    @for (image of banner; track image) {
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="image?.image || images[$index]" alt="Random slide" width="1500px"  height="500px"/>
      </div>
      <div class="carousel-caption">
        <h3>{{image?.title}}</h3>
        <small>Autor: {{image?.author}}</small>
        <br>
        <small>Fecha de publicación{{image?.published_at}}</small>
        <p class="card-text">{{image?.description}}</p>
      </div>
    </ng-template>
    }
  </ngb-carousel>
</div>
}

<hr />
<div style="display: flex; justify-content: center;">
  <div class="row row-cols-1 row-cols-md-2 g-4" style="width: 90%;">
    <div class="col" *ngFor="let card of news; index as i">
      <div class="card" (click)="clickCard(card, i)">
        <img [src]="card?.image || images[i]" width="660px" height="370px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{card?.title}}</h5>
          <small>Autor: {{card?.author}}</small>
          <br>
          <small>Fecha de publicación{{card?.published_at}}</small>
          <p class="card-text">{{card?.description}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
